    <div class="container-fluid">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Your Company</a>
            <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
            <div class="nav-collapse collapse" style="height: 0px;">
              <ul class="nav">
                <li>
                  <a href="#" class="active">Home</a> 
                </li>
                <li>
                  <a href="#">About</a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span4">

        	<!-- Блок для не зарегистрированных сотрудников -->
	        <div class="row-flued" ng-show="!user.auth">
	          	<ul class="nav nav-tabs">
		            <li class="active">
		              <a href="#login" data-toggle="tab">Вход</a> 
		            </li>
		            <li>
		              <a href="#bio" data-toggle="tab">Биометрия</a> 
		            </li>
		            <li>
		              <a href="#registration" data-toggle="tab">Регистрация</a> 
		            </li>
	        	</ul>
	          	<div class="tab-content">
		          <div class="well tab-pane active" id="login">
		            <form class="form-vertical">
			        <legend>Вход</legend>
		            <label for="login1">Логин</label>
		              <input ng-model="user.login" type="text" class="input-block-level input-medium" id="login1">
		              <label for="pass1">Пароль</label>
		              <input ng-model="user.password" type="password" class="input-block-level" id="pass1">
		              <a class="btn btn-block btn-primary btn-mini" ng-click="user.singIn()">Войти</a>
		            </form>
		          </div>
		          <div class="well tab-pane" id="registration">
		            <form>
		              <legend>Регистрация</legend>
		              <label for="login2">Логин</label>
		              <input ng-model="user.newLogin" type="text" class="input-block-level input-medium"
		              id="login2">
		              <label for="name1">Имя</label>
		              <input ng-model="user.name" type="text" class="input-block-level input-medium" id="name1">
		              <label for="lastname1">Фамилия</label>
		              <input ng-model="user.lastname" type="text" class="input-block-level input-medium"
		              id="lastname1">
		              <label for="work1">Должность</label>
		              <input ng-model="user.position" type="text" class="input-block-level input-medium"
		              id="work1">
		              <label for="pass1">Пароль</label>
		              <input ng-model="user.newPassword" type="password" class="input-block-level" id="pass1">
		              <a class="btn btn-info btn-mini btn-block" ng-click="user.singUp()">Зарегистрироваться</a>
		            </form>
		          </div>
		          <div class="well tab-pane" id="bio" style="text-align:center;">
		            <img src="http://sophosnews.files.wordpress.com/2011/10/fingerprint-binary-170.jpg"
		            class="img-polaroid">
		            <span class="help-block"><i>В разработке</i></span> 
		          </div>
		      	</div>
	    	</div>
        	<!-- Блок для не зарегистрированных сотрудников -->

        	<!-- Блок для тех кто вошёл в систему -->
        	<div class="row-fluid" ng-show="user.auth">
	       	<ul class="nav nav-tabs">
	            <li class="active">
	              <a href="#">Таймер</a> 
	            </li>
	            <li>
	              <a href="#">Информация</a> 
	            </li>
	            <li>
	              <a href="#" ng-click="user.logout()">Выход</a> 
	            </li>
	        </ul>
	          <div class="well">
	            <legend>Таймер</legend>
	            <h1 style="text-align:center">{{timer.h}}:{{timer.m}}:{{timer.s}}</h1>
	              <button ng-show="!day.on" ng-click="day.start()" class="btn btn-primary btn-large btn-block">Начать рабочий день</i></button>
	              <button ng-show="day.on" ng-click="day.end()" class="btn btn-danger btn-large btn-block">Закончить рабочий день</button>
	          </div>
          	</div>
        	<!-- Блок для тех кто вошёл в систему -->

        </div>
        <div class="span8">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#">График работы</a> 
            </li>
            <li>
              <a href="#">Информация</a> 
            </li>
          </ul>
          <div class="well">
            <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div> 
          </div>
        </div>
      </div>
    </div>